@font-face {
    font-family: "poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap") format("true type");
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;  
}

h1,
h2,
body {
    font-family: poppins,Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 100%;
}


.logo{
    width: 120px;
    margin-left: 1rem;
}

header{
    display: flex; 
    align-items: center; 
    height: 5rem; 
    background-color: cornflowerblue;
    justify-content: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.page_container{
    margin-top: 5rem;
}


nav{
    margin: auto;
    display: block;
    position: static;
}

.label-hamburger-menu{
    display: none;
}


nav ul{
    padding: 0px;
}

nav ul li{
    display: inline-block; 
}


.nav-icons{
    margin-right: 1rem;
    font-size: 1.5em;
}

/* link */

a{
    text-decoration: none;   
}

header a{
    color: #1d1d1d;
    padding: 20px;
}


.cta {
    background-color: #023373;
    color: #fff;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 30px;      
    margin-right: 20px;
}

.cta-shopping{
    background-color: #fff;
    color:#023373 ;
    border: 2px solid #023373;
}  


.active{
    background-color: #023373;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
}


.cta:hover{
    cursor: pointer;
    background-color: #155dbd;
    transition: all 0.4s ease out;
}

.cta-shopping:hover{
    background-color: #023373;
    color: #fff; 
    transition: all 0.4s ease out;  
}

i{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    font-weight: 600;
}


nav ul li a{
    color: #1d1d1d;
    font-size: 1.5em;
    font-weight: 600;
}

nav a:hover{
    text-decoration: underline;
}


.footer-heading a{
    color:#fff ;
}



/* Homepage */




.adventure_content{
    position: relative;
}

.adventure,
.outdoor,
.seasontype,
.guidance
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;   
    min-height: 70vh;
    position: relative;
    width: 100%;

}
.adventure{
    background-image: url("../images/Home-adventure.jpg");
    
}

.outdoor{
    background-image: url("../images/Home-outdoor.jpg");
    
}

.seasontype{
    background-image: url("../images/Home-seasontype.jpeg");
    
}

.guidance{
    background-image: url("../images/Home-guidance.jpg")
   
}



.product-featured h1{
    font-size: 35px;
    margin-right: 0.5em;
    text-align: right;

}

.product-featured h2{
    color: #fff;
    font-size: 35px;  
    text-align: left;
    padding-left: 0.5em;
}


.explore-cta{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top:25rem ;
    padding-right: 1rem;
    padding-left: 5rem;
  
}

.explore-cta-season{   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    padding-top:25rem;
    padding-left: 5rem;
    margin-left: 10px;
   
}



/* Outdoor Product Page */

.OutdoorProducts h1,
.filter-section form{
    margin-left: 20px; 
}  

.OutdoorProducts h1{
    font-size: 40px;
    text-align: left;
    color: #023373;
    font-weight: normal;   
}

.OutdoorProducts h2{
    font-size: 25px; 
    text-align: left;
    color: #023373;
    font-weight: bold; 
}


    

.OutdoorProducts h3{
    font-size: 20px;  
    text-align: left;
    margin:  20px;
}

.productForWomen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}


.MenProduct{
    margin-right: 2rem;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: capitalize;
}


.filter-section{
    display: flex;
    flex-wrap: wrap;
    background-color: #ff6347;
    padding: 10px;
}


.jacketList{
    background-color:#f5f1f1 ;
    width: 400px;
    margin-top : 4rem;  

}
.women-jackets_images{
    width: 100%;
}

.jacketwrapp1{
    display: flex;
    margin : 10px 0px;
    justify-content: space-between;
}

 .icon1{
     font-size: 1.5em;
 }

.icon_ratings{
    border: 2px solid red;
}

.women-jackets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.viewLink{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
}


/* Jacket specific page */


.selected-jacket,
.product-info{
    display: flex; 
    justify-content: space-between;
    gap: 10px;
    max-width: 1500px;
    margin: 30px; 
   
}

.selected-jacket > *,
.product-info > * {
    flex: 1;
}


.red-jacket-bigpic{
    padding: 0px 30px;
}




.selected-jacket_image,
.customer-jacket_image{
    border-radius: 2px;
    width: 100%;
}


.product-size,
.jacket_star_ratings{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}


.product-size a{
    font-weight: bold;
}

.jacket_star_ratings{
    max-width: 250px;  
    gap: 10px;
    margin-bottom: 40px;
}


.star_ratings{
    display: flex;
    flex-wrap: nowrap;
    max-width: 200px;
    font-size: 12px;
    border: 1px solid blue;
    margin: 0px auto;
    border-radius: 2px;
   
}

.details_of_product,
.details_of_shipping{  
    margin-top: 40px;
    border: 1px solid gray;
    border-radius: 4px;
    padding-left: 40px;
    padding-top: 20px;
}


.details_of_shipping p,
.review-text p{
    max-width: 400px;
}


.details_of_product ul{
    padding-left:20px ;
}

.average-ratings{
    display: flex;
    justify-content: space-between; 
    gap: 20px;
   
    flex-wrap: nowrap;
    margin-bottom: 20px;
    align-items: center;
}

.review{
    border: 1px solid gray;
    padding: 30px;
    margin: 80px 30px 150px;
}


.write-review{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.review-button{
    border: 2px solid black;
    padding: 5px 40px;
    text-align: center;   
}


.customer-review{
    display: flex;
    justify-content: space-between;
    gap: 50px;
      
}


 .review-picture{
    flex: 1;
    display: flex;
    justify-content: space-between;  
    gap: 25px;
    
 }  
 
 .review-picture div{
     flex: 1;
 }


.review-text{
    flex: 1;
}



/* cart_view_page.html */

.red-jacket,
.yellow-jacket{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin: 20px 0px 0px 20px;
    text-align: left;
}

.product-red-jacket,
.product-yellow-jacket{
    display: flex;
    justify-content: space-between;
    align-items: top;
   
}

.purchase-details{
    display: flex;
    border: 0.5px solid #a9a3a3;
    gap: 20px;
    flex-wrap: nowrap;
    margin: 80px 30px;
}

.billing-details{
    flex: 1;  
    flex-direction: column;
    background-color: #efeff4;
    display: flex;
    text-align: left;
    padding-left: 20px;
    margin-top: 20px;
}

.billing-details-text{
    font-weight: 600;
}
.jacket-details{
    flex: 2;
   
}


.checkbtn{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
    margin-top: 40px;
}


/* checkout page */

.Page-checkout h1{
    font-size: 50px;
    text-align: center;
}

.checkout-heading{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;   
    flex-wrap: wrap;
}



.fast-checkout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}




.checkout-steps{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 500;
}

.check-out-details{
    display: flex;
    gap: 20px;
}


.form_fillUp{
    padding-left: 20px;
    flex: 2;
    margin-top: 10px;
}

input,
select{
    border: 1px solid #1d1d1d;
    border-radius: 4px;
    margin: 10px 10px 10px 0px;
    padding: 15px;
}
.form__input{
    display: block;
    padding-right: 150px;
    padding-top: 20px;
}



.total-jackets{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 0.2px solid black; 
    margin-top: 20px;
    border-radius: 2px;
    padding:10px;
}




/* Successful checkout page */

.successful-icon{
    text-align: center;
    margin: 40px auto;
    padding:40px 30px;
    font-size: 28px;
    color: #10b010;
}

.ikon-spacing{
    font-size: 3em;
    color: #10b010;   
}

.successful-Text{
    padding-left: 60px;
    margin-bottom: 60px;
}

.successful-button{
    padding-left: 60px;
}


/* footer */



.footerContainer{
    background-color: #023373;
    padding-bottom: 50px;   
    
}
    


.footer{
    width: 100%;
    height: 50vh;
    background-color: #023373;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px auto;
    padding-top: 30px;   
    gap: 10px;
}




.footer-heading,
.footer-email-form{
    display: flex;
    flex-direction: column;
    margin-right: 64px;
}




#footer-email{
    width: 250px;   
    border-radius: 4px;
    outline: #fff;
    border: #fff;
    padding-left: 8px;
    font-size: 16px;
    margin-bottom: 16px;
}

#footer-email::placeholder{
    color: #b1b1b1;
}

#footer-email-btn{
    width: 100px;
    border-radius: 4px;
    background-color: #fff;
    color: #1d1d1d;
    outline: #fff;
    border: #fff;
    font-size: 1em;
}




/*media Query */

@media only screen and (max-width : 480px){
    .cta{
    font-size: 0.7em;
    padding: 10px 20px;
    }

    h1{
        font-size: 20px;
    }

    .Page-checkout h1 {
        font-size: 35px;
    }



    .product-red-jacket,
    .product-yellow-jacket{
     flex-direction: column;

    }
    .red-jacket,
    .yellow-jacket{
    flex-direction: column;

    }
    
}


   
@media only screen and (max-width : 807px){
    
    .selected-jacket,
    .product-info,
    .write-review,
    .customer-review,
    .review-picture,
    .review-text,
    .check-out-details{
        flex-flow: column wrap;
    }

    .selected-jacket{
        display: block;
    }
   
}
    @media only screen and (max-width : 1000px){

    .purchase-details{
        flex-direction: column;

    }   
 
}
@media only screen and (max-width : 1249px){

.footer{
    height: 120vh;
 }

}
