@font-face {
    font-family: "poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap") format("true type");
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    
}

h1,
h2,
body {
    font-family: poppins,Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 100%;
}


.logo{
    width: 120px;
    margin-left: 1rem;
}

header{
    display: flex; 
    align-items: center; 
    height: 5rem;
    border: 1px solid orange;  
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.page_container{
    margin-top: 5rem;
}


nav{
    margin: auto;
    border: 3px solid red;
}

nav ul{
    padding: 0px;
    border: 3px dotted blue;
}

nav ul li{
    display: inline-block; 
    border: 2px solid green;

}

.nav-icons{
    margin-right: 1rem;
}

/* link */

a{
    text-decoration: none;
}

header a{
    color: #1d1d1d;
    padding: 10px;
}


.cta {
    background-color: #023373;
    color: #fff;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 30px;
    border-color: #707070;    
    margin-right: 20px;
}



.active{
    background-color: #023373;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
}


.cta:hover{
    cursor: pointer;
    background-color: #155dbd;
    transition: all 0.4s ease out;
}


i{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    font-weight: 600;
}


nav ul li a{
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 600;
}

nav a:hover{
    text-decoration: underline;
}



.footer-heading a{
    color:#fff ;
}




/* Homepage */




.adventure_content{
    position: relative;
}

.adventure,
.outdoor,
.seasontype,
.guidance
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;   
    min-height: 70vh;
    position: relative;
    width: 100%;

}
.adventure{
    background-image: url("../images/Home-adventure.jpg");
    
}

.outdoor{
    background-image: url("../images/Home-outdoor.jpg");
    
}

.seasontype{
    background-image: url("../images/Home-seasontype.jpeg");
    
}

.guidance{
    background-image: url("../images/Home-guidance.jpg")
   
}

.product-featured h1{
    border: 2px solid green;
    font-size: 35px;
    margin-right: 0.5em;
    text-align: right;

}

.product-featured h2{
    color: #fff;
    font-size: 35px;  
    text-align: left;
    border: 2px solid brown;
    padding-left: 0.5em;
}


.explore-cta{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top:25rem ;
    padding-right: 1rem;
    padding-left: 5rem;
    border: 3px solid yellowgreen;
}

.explore-cta-season{   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    padding-top:25rem;
    padding-left: 5rem;
    margin-left: 10px;
    border: 3px solid black;
}

.navigation-menu{
    overflow: hidden;
    border-color: 2px solid blue;
    position: fixed;
    width: 100%;
    top: 0;

}

/* Outdoor Product Page */

.OutdoorProducts h1{
    border: 2px solid green;
    font-size: 40px;
    margin-left: 0.5em;
    text-align: left;
    color: #023373;
    font-weight: normal;   
}

.OutdoorProducts h2{
    border: 2px solid black;
    font-size: 25px;
    margin-left: 0.5em;
    text-align: left;
    color: #023373;
    font-weight: bold; 
}


.OutdoorProducts{
    border: 1px solid red;
}
    

.OutdoorProducts h3{
    border: 2px solid red;
    font-size: 20px;
    margin-left: 0.5em;
    text-align: left;
}
.productForWomen{
    border: 1px solid rgb(7, 104, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.MenProduct{
    margin-right: 2rem;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: capitalize;
}

.jacketList{
    border: 2px solid red;
    width: 400px;
    margin-top: 4rem;
    

}
.women-jackets_images{
    width: 100%;
}

.jacketwrapp1{
    display: flex;
    border : 2px dotted black;
    margin : 10px 0px;
    justify-content: space-between;
}

.text1{
    border: 1px solid black;
   
}

.icon1{
    border: 1px solid black;
       
}   

.icon_ratings{
    border: 2px solid red;
}

.women-jackets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.viewLink{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
}


/* Jacket specific page */

.selected-jacket,
.product-info{
    display: flex; 
    justify-content: space-between;
    gap: 10px;
    max-width: 1500px;
    margin: 30px; 
    
}

.selected-jacket > *,
.product-info > * {
    flex: 1;
}

.red-jacket-text{
   background-color: #fcfcfc;
    padding-left: 40px;
}

.selected-jacket_image{
    border-radius: 2px;
    width: 100%;
}


.size{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}



.details_of_product,
.details_of_shipping{  
    margin-top: 40px;
    border: 1px solid gray;
    border-radius: 4px;
    padding-left: 40px;
    padding-top: 20px;
}


.details_of_shipping p{
    max-width: 400px;
}


.details_of_product ul{
    padding-left:20px ;
}


.review{
    border: 1px solid gray;
    padding: 30px;
    margin: 80px 30px 150px;
}


.write-review{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.review-button{
    border: 2px solid black;
    padding: 5px 40px;   
}


.customer-review{
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
      
}

.customer-review div{
    flex: 1;
}

 .review-picture{
    display: flex;
    justify-content: space-between;  
    gap: 25px;

 }   
.review-text{
    padding-left:40px;

}


/* checkout page */

.checkout-heading{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    border: 2px solid blue;
    flex-wrap: wrap;
}

.fast-checkout{
    display: flex;
    justify-content: space-between;
    /* max-width: 500px; */
    border: 2px solid red;
    align-items: center;
    flex-wrap: wrap;
}




.checkout-steps{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    padding: 10px 20px;
}


.form_fillUp{
    border: 2px dotted green;
    padding-left: 20px;

}

input,
select{
    border: 1px solid #1d1d1d;
    border-radius: 4px;
    margin: 10px 10px 10px 0px;
    padding: 5px;
}
.form__input{
    display: block;
}



/* footer */



.footerContainer{
    background-color: #023373;
    padding-bottom: 64px;
}
    


.footer{
    width: 100%;
    height: 40vh;
    background-color: #023373;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px auto;
    padding-top: 30px;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 64px;
}

.footer-email-form h3{
    margin-bottom: 32px;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: #fff;
    border: #fff;
    padding-left: 8px;
    font-size: 16px;
    margin-bottom: 16px;
}

#footer-email::placeholder{
    color: #b1b1b1;
}

#footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    color: #1d1d1d;
    outline: #fff;
    border: #fff;
    font-size: 1em;
}

/* mobile style */
@media only screen and (max-width : 926px){
    .footer{
        height: 120vh;
    }
    .footer-email-form{
        margin-top: 2rem;
    }
}
   
    

