@font-face {
    font-family: "poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet");
}


h1,
h2,
body {
    font-family: poppins,Verdana, Geneva, Tahoma, sans-serif;
}


header{
    display: flex; 
    align-items: center; 
}

header a{
    color: #1d1d1d;
    padding: 10px;
}


i{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    font-weight: 600;
}

nav{
    margin: auto;
}

nav ul{
    padding: 0 px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    font-weight: 600;
}

nav ul li a{
    color: #1d1d1d;
    font-size: 17px;
}

nav a:hover{
    text-decoration: underline;
}

/* links */
a{
    text-decoration: none;
}
.footer-heading a{
    color:#fff ;
}

.cta {
    background-color: #023373;
    color: #fff;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 30px;
    border-color: #707070; 
    
    margin-right: 20px;
}

.cta :hover{
    cursor: pointer;
    background-color: #125dbf;
    transition: all 0.4s ease out;
}


/* Homepage */

.adventure,
.outdoor,
.seasontype,
.guidance
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 70vh;
    position: relative;
}
.adventure{
    background-image: url("../images/Home-adventure.jpg");
}

.outdoor{
    background-image: url("../images/Home-outdoor.jpg");
}

.seasontype{
    background-image: url("../images/Home-seasontype.jpeg");
}

.guidance{
    background-image: url("../images/Home-guidance.jpg")
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.explore-cta{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



.footer-container{
    background-color: #023373;
    padding-bottom: 64px;
}

.footer{
    width: 100%;
    height: 40vh;
    background-color: #023373;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px auto;
    padding-top: 30px;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 64px;
}

.footer-email-form h3{
    margin-bottom: 32px;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: #fff;
    border: #fff;
    padding-left: 8px;
    font-size: 16px;
    margin-bottom: 16px;
}

#footer-email::placeholder{
    color: #b1b1b1;
}

#footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    color: #1d1d1d;
    outline: #fff;
    border: #fff;
    font-size: 1em;
}

/* mobile style */
@media only screen and (max-width : 926px){
    .footer{
        height: 120vh;
    }
    .footer-email-form{
        margin-top: 2rem;
    }
}
   
    

